:root{
    --primary-color: #4f46e5;
    --bg-color: #f4f4f4;
}

body{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    background:var(--bg-color);
    text-align:center;
}

header{
    background:var(--primary-color);
    color:white;
    padding:20px;
}

main{
    margin-top:40px;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:white;
    margin:10px auto;
    padding:15px;
    width:60%;
    border-radius:8px;
}
footer{
    margin-top:40px;
}
